@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
body {
  font-family: "Montserrat";
  margin: 0;
}

.header {
  background: url("img/rectangle.png") no-repeat center;
  background-size: 100% 100%;
}
@media (min-width: 1100px) {
  .header {
    display: flex;
  }
}
.header__img {
  margin: 72px 209px 22px 194px;
}
@media (max-width: 740px) {
  .header__img {
    margin: 72px 209px 22px 0;
  }
  .header__img img {
    width: 350px;
  }
}
.header__content {
  padding: 0 0 0 130px;
}
@media (max-width: 740px) {
  .header__content {
    padding: 0 15px 0 20px;
  }
}
.header__content .content__title {
  padding: 24px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 122.5%;
  color: #FFFFFF;
}
@media (max-width: 640px) {
  .header__content .content__title {
    font-size: 34px;
  }
}
.header__content .content__title_1 {
  padding: 48px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 122.9166666667%;
  color: #FFFFFF;
}
@media (max-width: 640px) {
  .header__content .content__title_1 {
    font-size: 33px;
  }
}
.header__content .content__title_1 span {
  font-weight: 700;
}
.header__content .content__text {
  padding: 24px 0 32px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
}
@media (max-width: 640px) {
  .header__content .content__text {
    font-size: 16px;
  }
}
.header__content .content__btn {
  display: inline-flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  color: #3A80BA;
  text-decoration: none;
  width: 154px;
  height: 56px;
  background: #FFFFFF;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
}
.header__content .content__btn:hover {
  background-color: #ebebeb;
  transition: background-color 0.4s;
}

.page {
  margin: 16px 10px;
  text-align: center;
}
.page__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 121.875%;
  color: #1A1A1A;
}
@media (max-width: 640px) {
  .page__title {
    font-size: 28px;
  }
}
.page__title span {
  font-weight: 700;
}
.page__text {
  padding: 24px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #7E7E7E;
}
@media (max-width: 640px) {
  .page__text {
    font-size: 17px;
  }
}
.page__block-card {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}
@media (max-width: 500px) {
  .page__block-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.page__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 323px;
  background: #FFFFFF;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 32px;
}
.page__card:nth-child(2) {
  margin: 0 10px 0 10px;
}
@media (max-width: 500px) {
  .page__card {
    width: 90%;
    height: 280px;
    margin: 10px;
  }
}
.page__card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #1A1A1A;
}
@media (max-width: 640px) {
  .page__card-title {
    font-size: 20px;
  }
}
.page__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  color: #7E7E7E;
}
@media (max-width: 640px) {
  .page__card-text {
    font-size: 14px;
    padding: 0 5px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background: url("img/footer.png") no-repeat center;
  background-size: 100% 100%;
  min-height: 180px;
}
.footer__container {
  margin: 40px 0 0 0;
}
.footer__input {
  text-align: center;
}
.footer__bottom {
  display: flex;
  justify-content: center;
  margin: 46px 0 0 0;
}
.footer__bottom-center {
  margin: 0 22% 0 22%;
}
@media (max-width: 1100px) {
  .footer__bottom-center {
    margin: 0 10%;
  }
}
.footer__bottom-center, .footer__bottom-left {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  color: #FFFFFF;
}
.footer__bottom-right {
  font-size: 32px;
  line-height: 121.875%;
  color: #FFFFFF;
  font-weight: 400;
}
.footer__search {
  display: inline-block;
  position: relative;
}
.footer__search input {
  height: 40px;
  width: 400px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 142%;
  outline: none;
  cursor: pointer;
}
@media (max-width: 640px) {
  .footer__search input {
    width: 350px;
    font-size: 18px;
  }
}
.footer__search button {
  position: absolute;
  top: 1.5px;
  right: 2px;
  padding: 10px;
  border: none;
  background: #3A80BA;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  color: #ffffff;
  cursor: pointer;
}
.footer__search button:hover {
  background: #4692d8;
  transition: background 0.5s;
}
@media (max-width: 640px) {
  .footer__search button {
    padding: 7px;
    top: 4px;
  }
}

a {
  text-decoration: none;
  color: #CCCCCC;
}

.statistics {
  font-family: "Montserrat";
}
.statistics .header-statistic__top {
  height: 72px;
  display: flex;
  align-items: center;
  padding: 0 0 0 130px;
  background-color: #3A80BA;
}
@media (max-width: 500px) {
  .statistics .header-statistic__top {
    padding: 0 0 0 30px;
  }
}
.statistics .header-statistic__top-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 122.5%;
  color: #FFFFFF;
}
.statistics .header-statistic__nav {
  padding: 20px 0 0 130px;
}
@media (max-width: 500px) {
  .statistics .header-statistic__nav {
    padding: 15px 0 0 30px;
  }
}
.statistics .header-statistic__nav ul {
  display: flex;
  padding: 0;
}
@media (max-width: 500px) {
  .statistics .header-statistic__nav ul {
    padding: 0 0 0 30px;
  }
}
.statistics .header-statistic__nav ul li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #CCCCCC;
}
.statistics .header-statistic__nav ul li:nth-child(1) {
  cursor: pointer;
}
.statistics .header-statistic__nav ul li:last-child {
  color: #3A80BA;
}
.statistics .header-statistic__nav ul li:nth-child(2) {
  width: 6px;
  height: 6px;
  border-top: solid #CCCCCC;
  border-right: solid #CCCCCC;
  transform: rotate(45deg);
  margin: 6px 6px 6px 5px;
}
.statistics .main-statistics {
  overflow: auto;
}
.statistics .main-statistics__container {
  padding: 0 0 0 130px;
}
@media (max-width: 500px) {
  .statistics .main-statistics__container {
    padding: 0 0 0 30px;
  }
}
.statistics .main-statistics__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 121.875%;
  color: #1A1A1A;
  padding: 24px 0 16px 0;
}
.statistics .main-statistics .statistics-table {
  table-layout: auto;
  width: 1180px;
  text-align: center;
}
.statistics .main-statistics .statistics-table thead {
  height: 48px;
  background: #3A80BA;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.statistics .main-statistics .statistics-table thead tr:first-child th:first-child {
  border-top-left-radius: 8px;
}
.statistics .main-statistics .statistics-table thead tr:first-child th:last-child {
  border-top-right-radius: 8px;
}
.statistics .main-statistics .statistics-table tbody tr {
  height: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #1A1A1A;
  cursor: pointer;
  background: #FBFBFB;
}
.statistics .main-statistics .statistics-table tbody tr:hover {
  background-color: #adafb2;
  transition: 0.5s;
}
.statistics .main-statistics .statistics-table tbody tr:nth-last-child(2n+1) {
  background-color: #F1F1F1;
}
.statistics .main-statistics .statistics-table tbody tr:nth-last-child(2n+1):hover {
  background-color: #adafb2;
  transition: 0.5s;
}
.statistics .main-statistics .statistics-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
.statistics .main-statistics .statistics-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
.statistics .pagination-statistics {
  margin: 23px 0 23px 0;
}
.statistics .pagination-statistics ul {
  display: flex;
  justify-content: center;
  padding: 0;
}
.statistics .pagination-statistics ul li {
  list-style: none;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #F1F1F1;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #1A1A1A;
}
.statistics .pagination-statistics ul li:hover {
  border-color: rgba(243, 0, 0, 0.5);
  transition: 0.5s;
}
.statistics .pagination-statistics ul li:nth-child(1) {
  border: none;
}
.statistics .pagination-statistics ul li:nth-child(1) div {
  width: 20px;
  height: 20px;
  border-top: 4px solid;
  border-left: 4px solid;
  border-color: #F1F1F1;
  transform: rotate(-45deg);
}
.statistics .pagination-statistics ul li:nth-child(1) div:hover {
  border-color: rgba(243, 0, 0, 0.5);
  transition: 0.5s;
}
.statistics .pagination-statistics ul li:nth-child(7) {
  border: none;
}
.statistics .pagination-statistics ul li:nth-child(7) div {
  width: 20px;
  height: 20px;
  border-top: 4px solid;
  border-right: 4px solid;
  border-color: #F1F1F1;
  transform: rotate(45deg);
}
.statistics .pagination-statistics ul li:nth-child(7) div:hover {
  border-color: rgba(243, 0, 0, 0.5);
  transition: 0.5s;
}
.statistics .footer-statistics {
  min-height: 57px;
  height: 100%;
  margin: 41px 0 0 0;
  background: #1C3B55;
}
.statistics .footer-statistics__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 0;
}
@media (max-width: 480px) {
  .statistics .footer-statistics__container {
    flex-direction: column;
    padding: 10px;
  }
}
.statistics .footer-statistics__container_title {
  /* AppCo */
  font-weight: 400;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #FFFFFF;
}
@media (max-width: 625px) {
  .statistics .footer-statistics__container_title {
    font-size: 20px;
  }
}
.statistics .footer-statistics__container_text, .statistics .footer-statistics__container_center {
  font-weight: normal;
  font-size: 16px;
  line-height: 142%;
  color: #FFFFFF;
}
@media (max-width: 625px) {
  .statistics .footer-statistics__container_text, .statistics .footer-statistics__container_center {
    font-size: 14px;
  }
}
.statistics .footer-statistics__container_center {
  margin: 0 22% 0 22%;
}
@media (max-width: 930px) {
  .statistics .footer-statistics__container_center {
    margin: 0 10%;
  }
}
@media (max-width: 625px) {
  .statistics .footer-statistics__container_center {
    margin: 0 5%;
  }
}
@media (max-width: 480px) {
  .statistics .footer-statistics__container_center {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=statistics.css.map */
